@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap");

html {
  background-image: url(img/background.png);
  width: 100%;
  color: white;
}
p,
h1,
h2,
h3,
h4,
h5,
h6,
li {
  font-family: "JetBrains Mono", monospace;
}
.field {
  width: 20%;
  display: inline-block;
  padding-left: 4em;
  padding-right: 4em;
  text-align: center;
}
.field > img {
  width: 5rem;
  height: 5rem;
}
a {
  color: -webkit-link;
  text-decoration: underline wavy -webkit-link;
}

a > :is(p, h1, h2, h3, h4, h5, h6) {
  color: -webkit-link;
}

marquee {
  width: 100%;
}

blockquote {
  color: gray;
  border-left: 5px solid gray;
  padding-left: 15px;
}

#main {
  width: 100%;
  margin: auto;
}

.logo-container {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 30%;
  margin-bottom: 2em;
}

#container {
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.logo {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.box {
  background-color: whitesmoke;
  border: 5px solid darkcyan;
  width: 80%;
  margin: auto;
  padding: 10px;
}

.box > ul {
  color: black;
  list-style-position: inside;
  padding: 0;
}

.box > ol {
  color: black;
  list-style-position: inside;
  padding: 0;
}

.box > :is(p, h1, h2, h3, h4, h5, h6) {
  color: black;
}

.box > ul > li > :is(p, h1, h2, h3, h4, h5, h6) {
  color: black;
}

.box > ol > li > :is(p, h1, h2, h3, h4, h5, h6) {
  color: black;
}

pre,
code {
  color: green;
  background-color: black;
}

a > h2 {
  color: white;
  text-decoration: underline wavy white;
}

pre {
  padding: 5px;
}

:not(pre) > code {
  padding: 5px;
}

@media screen and (max-width: 1110px) {
  .field {
    width: 100%;
    display: block;
    padding: 0;
  }
}
