@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap");

html {
  background-color: black;
  padding-left: 25%;
  padding-right: 25%;
  color: lime;
}

@media only screen and (max-width: 900px) {
  html {
    padding-left: 5%;
    padding-right: 5%
  }
}

h2 > a::before {
  content: '> ';
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
li {
  font-family: "JetBrains Mono", monospace;
}

a {
  color: lime;
  text-decoration: underline dotted lime;
}

img {
    max-width: 75%;
    margin-left: auto;
    margin-right: auto;
}

marquee {
  width: 100%;
}

blockquote {
  color: gray;
  border-left: 5px solid gray;
  padding-left: 15px;
}

#main {
  width: 100%;
  margin: auto;
}

.title {
  font-weight: 900;
}

pre,
code {
  color: black;
  background-color: lime;
}

pre {
  padding: 5px;
}

:not(pre) > code {
  padding: 5px;
}