<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>{{page.title}} - mounderfod</title>
    <link rel="icon" type="image/png" href="/assets/img/planets/Planet-4.png">
    <meta name="description" content={{ page.excerpt | strip_html | truncatewords: 50 }} />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/assets/index.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="/timedate.js"></script>
  </head>
  <body>
    <marquee
      ><p id="timedate" style="font-size: x-large">
        The time is {} and the date is {}
      </p></marquee
    >
    <div id="main">
      <div class="logo-container">
        <a href="/"><img class="logo" src="/assets/img/wordart.png" /></a><br />
      </div>
      <div class="box">{{content}}</div>
    </div>
  </body>
</html>
