---
layout: default
---
<article class="h-entry">
<a href="/blog">
    <p>⟸ Back to blog</p>
</a>
<h1 class="p-name">{{page.title}}</h1>
<time class="dt-published" datetime="{{page.date}}">
    <p><em style="color: gray">{{page.date | date: "%-d %B %Y"}}</em></p>
</time>
<p class="p-summary" style="display: none;">{{post.excerpt | strip_html | truncatewords: 20}}</p>
<span rel="author" class="h-card p-author" style="display: none;">
    <p class="p-name">Noah</p>
    <p class="p-nickname">mounderfod</p>
    <p class="p-given-name">Noah</p>
    <a class="u-url" rel="me" href="https://mounderfod.online"></a>
    <p class="p-country-name">United Kingdom</p>
  </span>
{% for tag in page.tags %}
<p class="p-category" style="display: none;">{{tag}}</p>
{% endfor %}
<div class="e-content" style="color: black;">{{content}}</div>

<p>
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="gray" class="bi bi-tag-fill"
        viewBox="0 0 16 16">
        <path
            d="M2 1a1 1 0 0 0-1 1v4.586a1 1 0 0 0 .293.707l7 7a1 1 0 0 0 1.414 0l4.586-4.586a1 1 0 0 0 0-1.414l-7-7A1 1 0 0 0 6.586 1H2zm4 3.5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z" />
    </svg>
    <em style="color: gray;">{{page.tags | join: ", "}}</em>
</p>
</article>